/* Example style. */
body {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  background-color: white;
}
section div div {
  text-align: center;
  background-color: grey;
  margin-bottom: 5px;
}