/* general */
#container {
  width: 960px;
}
/* page specific */
section div {
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
  section div::after {
    clear: both;
  }
  section div::before, 
  section div::after {
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
    display: block;
    content: ".";
  }
  section div div {
    text-align: center;
  }
.etalon div div {
  background-color: gray;
}
#ex1 div div:nth-child(even) {
  background-color: red;
}
#ex1 div div:nth-child(odd) {
  background-color: blue;
}
#ex2 div div {
  border: 1px solid blue;
  box-sizing: border-box;
}
#ex3 div div {
  border: 1px solid blue;
  box-sizing: border-box;
}
/* generated grid classes */
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col20, 
.col10, 
.col21, 
.col11, 
.col22, 
.col12, 
.col23, 
.col13, 
.col24, 
.col14, 
.col15, 
.col16, 
.col17, 
.col18, 
.col19, 
.col0, 
.col1 {
  float: left;
  display: inline;
}
.col0 {
  width: 0px;
  margin-right: 5px;
  margin-left: 5px;
}
.col1 {
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
.col2 {
  width: 70px;
  margin-right: 5px;
  margin-left: 5px;
}
.col3 {
  width: 110px;
  margin-right: 5px;
  margin-left: 5px;
}
.col4 {
  width: 150px;
  margin-right: 5px;
  margin-left: 5px;
}
.col5 {
  width: 190px;
  margin-right: 5px;
  margin-left: 5px;
}
.col6 {
  width: 230px;
  margin-right: 5px;
  margin-left: 5px;
}
.col7 {
  width: 270px;
  margin-right: 5px;
  margin-left: 5px;
}
.col8 {
  width: 310px;
  margin-right: 5px;
  margin-left: 5px;
}
.col9 {
  width: 350px;
  margin-right: 5px;
  margin-left: 5px;
}
.col10 {
  width: 390px;
  margin-right: 5px;
  margin-left: 5px;
}
.col11 {
  width: 430px;
  margin-right: 5px;
  margin-left: 5px;
}
.col12 {
  width: 470px;
  margin-right: 5px;
  margin-left: 5px;
}
.col13 {
  width: 510px;
  margin-right: 5px;
  margin-left: 5px;
}
.col14 {
  width: 550px;
  margin-right: 5px;
  margin-left: 5px;
}
.col15 {
  width: 590px;
  margin-right: 5px;
  margin-left: 5px;
}
.col16 {
  width: 630px;
  margin-right: 5px;
  margin-left: 5px;
}
.col17 {
  width: 670px;
  margin-right: 5px;
  margin-left: 5px;
}
.col18 {
  width: 710px;
  margin-right: 5px;
  margin-left: 5px;
}
.col19 {
  width: 750px;
  margin-right: 5px;
  margin-left: 5px;
}
.col20 {
  width: 790px;
  margin-right: 5px;
  margin-left: 5px;
}
.col21 {
  width: 830px;
  margin-right: 5px;
  margin-left: 5px;
}
.col22 {
  width: 870px;
  margin-right: 5px;
  margin-left: 5px;
}
.col23 {
  width: 910px;
  margin-right: 5px;
  margin-left: 5px;
}
.col24 {
  width: 950px;
  margin-right: 5px;
  margin-left: 5px;
}
.col0 {
  display: none;
}
.pull3, 
.pull4, 
.pull5, 
.pull6, 
.pull7, 
.pull8, 
.push20, 
.pull9, 
.push10, 
.push21, 
.push11, 
.push22, 
.push12, 
.push23, 
.push1, 
.push13, 
.push2, 
.push14, 
.push3, 
.push15, 
.push4, 
.push16, 
.push5, 
.push17, 
.push6, 
.push18, 
.push7, 
.push19, 
.push8, 
.push9, 
.pull20, 
.pull10, 
.pull21, 
.pull11, 
.pull22, 
.pull12, 
.pull23, 
.pull13, 
.pull14, 
.pull15, 
.pull16, 
.pull17, 
.pull18, 
.pull19, 
.pull1, 
.pull2 {
  position: relative;
}
.push1 {
  left: 40px;
}
.push2 {
  left: 80px;
}
.push3 {
  left: 120px;
}
.push4 {
  left: 160px;
}
.push5 {
  left: 200px;
}
.push6 {
  left: 240px;
}
.push7 {
  left: 280px;
}
.push8 {
  left: 320px;
}
.push9 {
  left: 360px;
}
.push10 {
  left: 400px;
}
.push11 {
  left: 440px;
}
.push12 {
  left: 480px;
}
.push13 {
  left: 520px;
}
.push14 {
  left: 560px;
}
.push15 {
  left: 600px;
}
.push16 {
  left: 640px;
}
.push17 {
  left: 680px;
}
.push18 {
  left: 720px;
}
.push19 {
  left: 760px;
}
.push20 {
  left: 800px;
}
.push21 {
  left: 840px;
}
.push22 {
  left: 880px;
}
.push23 {
  left: 920px;
}
.pull1 {
  left: -40px;
}
.pull2 {
  left: -80px;
}
.pull3 {
  left: -120px;
}
.pull4 {
  left: -160px;
}
.pull5 {
  left: -200px;
}
.pull6 {
  left: -240px;
}
.pull7 {
  left: -280px;
}
.pull8 {
  left: -320px;
}
.pull9 {
  left: -360px;
}
.pull10 {
  left: -400px;
}
.pull11 {
  left: -440px;
}
.pull12 {
  left: -480px;
}
.pull13 {
  left: -520px;
}
.pull14 {
  left: -560px;
}
.pull15 {
  left: -600px;
}
.pull16 {
  left: -640px;
}
.pull17 {
  left: -680px;
}
.pull18 {
  left: -720px;
}
.pull19 {
  left: -760px;
}
.pull20 {
  left: -800px;
}
.pull21 {
  left: -840px;
}
.pull22 {
  left: -880px;
}
.pull23 {
  left: -920px;
}